NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

HOST=0.0.0.0
PORT=3333

TOKEN_SECRET=
TOKEN_LIFE=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_LIFE=
TOKEN_LINK_SECRET=
TOKEN_LINK_LIFE=

SENDGRID_API_KEY=

CMS_HOST=
WEB_HOST=

RFS_SIZE=5M
RFS_TIME=7d
